<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="small">View Restaurant</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div id="container">
    <google-map
    height="300px"
    width="100%"
    [center]="geo">
      <map-marker
      [position]="geo"
      [title]="name"></map-marker>
    </google-map>
    <br/>
  </div>
  <div>
    
    <div class="content">
      <ion-img
            class="container__image"
            src="../../assets/pasta.jpeg"
            id="image"
          ></ion-img>
        <ion-text>Name : {{restaurant.restaurantName}}</ion-text><br/>
        <ion-text>Description : {{restaurant.description}}</ion-text><br/>
        <ion-text>Tag : {{restaurant.tags}} </ion-text><br/><br/>
            
        <ion-button  (click)="cancel()"> Cancel</ion-button>
    </div>
  </div>
</ion-content>
