#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 15%;
  }

  .content{
      text-align: center;
      left: 0;
      right: 0;
      flex-direction: column;
      padding-top: 5%;
      margin-right: 15%;
      margin-left: 15%;
  }
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
  #image2{
    width: 100%;
    height: 100%;
}
