<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="small" >Add Restaurant</ion-title>
      <ion-buttons  slot="start">
        <ion-back-button  defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Restaurant Name</ion-label>
    <ion-input placeholder='Restaurant Name' type='text' ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Street Number</ion-label>
    <ion-input placeholder='Street Number'></ion-input>

  </ion-item>

  <ion-item>
    <ion-label position="floating">Street Name</ion-label>
    <ion-input placeholder='Street Name' ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Street Type</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Avenue">Avenue</ion-select-option>
      <ion-select-option value="Street">Street</ion-select-option>
      <ion-select-option value="Alley">Alley</ion-select-option>
      <ion-select-option value="Quay">Quay</ion-select-option>
      <ion-select-option value="Road">Road</ion-select-option>
      <ion-select-option value="Lane">Lane</ion-select-option>
      <ion-select-option value="Cul-de-sac">Cul-de-sac</ion-select-option>
      <ion-select-option value="Drive">Drive</ion-select-option>

    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input placeholder='City'  [(ngModel)]="city"></ion-input>
    </ion-item>
</ion-content>
