<ion-toolbar color="primary">
  <ion-title> </ion-title>
</ion-toolbar>

<ion-content>
  <div>
    <ion-toolbar class="toolbar" color="primary">
      <ion-text class="title">Restaurant Guide</ion-text>
      <ion-buttons slot="primary">
        <ion-button (click)="clickedAdd()">
          <ion-icon slot="icon-only" name="add" size="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button (click)="aboutUs()">
          <ion-text class="aboutus">About Us</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <ion-toolbar class="search">
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
  </ion-toolbar>
  <div id="container"></div>
</ion-content>
